
.div_contact_item {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.div_contact_item_text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}