.div_footer_page_button {
    justify-items: center;
}

.a_footer_page_button {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
}

.div_footer_page_button_line {
    height: 2px;
    background-color: #000;
    width: 100%;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.div_footer_page_button:hover .div_footer_page_button_line {
    background-color: #fff;
}