.div_contacts_form {
    margin-top: 20px;
    font-size: 18px;
    background-color: #121212;
    padding: 50px 0;
    width: 100%;

}

.div_contacts_form_header {
    background-color: #121212;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 26px;
    margin-bottom: 40px;
}

.div_contacts_form_line {
    height: 2px;
    width: 150px;
    background-color: #fff;
}

.p_contacts_form_header {
    background-color: #121212;
}

.div_contacts_form_inputs {
    justify-items: center;
    background-color: #121212;
}

.div_contacts_form_inputs .container {
    background-color: #121212;
}

.div_contacts_form_name_phone {
    display: flex;
    gap: 20px;
    padding-bottom: 40px;
    background-color: #121212;

}

.div_contacts_form_name {
    background-color: #121212;
    display: flex;
    gap: 10px;
    position: relative;
}
.label_contacts_form_name {
    background-color: #121212;
}
.input_contacts_form_name {
    font-size: 18px;
    background-color: #121212;
    width: 200px;
}
.div_contacts_form_name_line {
    position: absolute;
    width: 200px;
    background-color: white;
    height: 1px;
    bottom: 0;
    right: 0;
}
.div_contacts_form_name_error {
    background-color: #121212;
}
.p_contacts_form_name_error {
    background-color: #121212;
    font-size: 14px;
}

.div_contacts_form_phone {
    background-color: #121212;
    display: flex;
    position: relative;
    gap: 10px;
}
.label_contacts_form_phone {
    background-color: #121212;
}
.input_contacts_form_phone {
    font-size: 18px;
    background-color: #121212;
    width: 200px;
}
.div_contacts_form_phone_line {
    position: absolute;
    width: 200px;
    background-color: white;
    height: 1px;
    bottom: 0;
    right: 0;
}
.div_contacts_form_phone_error {
    background-color: #121212;
}
.p_contacts_form_phone_error {
    background-color: #121212;
    color: red;
    font-size: 14px;
}


.a_button_contacts_form {
    width: 150px;
    height: 40px;
    border: 1px #fff solid;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s, color 0.3s;
    background-color: #121212;
    color: white;
    cursor: pointer;
}

.a_button_contacts_form:hover {
    background-color: white;
    color: black;
}



.div_contacts_form_message {
    position: relative;
    background-color: #121212;
    display: flex;
    gap: 10px;
    width: fit-content;
}
.label_contacts_form_message {
    background-color: #121212;
}
.input_contacts_form_message {
    font-size: 18px;
    border: 1px white solid;
    background-color: #0e0e0e;
    width: 450px;
    resize: none;
    padding: 2px;
}
.div_contacts_form_message_error {
    background-color: #121212;
    display: flex;
    flex-direction: column;
    width: fit-content;

}
.p_contacts_form_message_error {
    background-color: #121212;
    color: red;
    font-size: 14px;
    text-align: right;
}


.div_button_contacts_form {
    background-color: #121212;
    display: flex;
    gap: 20px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}
.p_contacts_form_success {
    font-size: 14px;
    color: green;
    background-color: #121212;
}