
.div_header_button, .div_header_button_active {
    justify-items: center;
}

.a_header_button {
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

.div_header_button  .div_header_button_line {
    height: 2px;
    background-color: #000;
    width: 100%;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.div_header_button_active .div_header_button_line {
    height: 2px;
    background-color: #ffffff;
    width: 100%;
    margin-top: 5px;
    transition: background-color 0.3s;
}

.div_header_button:hover .div_header_button_line {
    background-color: #fff;
}

