
.section_contacts {
    justify-items: center;
    max-width: 100%;
}

.div_contacts_columns {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div_contacts_form {
    margin-top: 20px;
    font-size: 18px;
    background-color: #121212;
    padding: 20px 0;
    width: 100%;

}

.div_contacts_form_header {
    background-color: #121212;
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 26px;
    margin-bottom: 20px;
}

.div_contacts_form_line {
    height: 2px;
    width: 150px;
    background-color: #fff;
}

.p_contacts_form_header {
    background-color: #121212;
}

.div_contacts_form_inputs {
    justify-items: center;
    background-color: #121212;
}

.div_contacts_form_inputs .container {
    background-color: #121212;
}

.div_contacts_form_name_phone {
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
    background-color: #121212;

}

.div_contacts_form_name {
    background-color: #121212;
    display: flex;
    gap: 10px;
    position: relative;
}
.label_contacts_form_name {
    background-color: #121212;
}
.input_contacts_form_name {
    font-size: 18px;
    background-color: #121212;
    width: 200px;
}
.div_contacts_form_name_line {
    position: absolute;
    width: 200px;
    background-color: white;
    height: 1px;
    bottom: 0;
    right: 0;
}


.div_contacts_form_phone {
    background-color: #121212;
    display: flex;
    position: relative;
    gap: 10px;
}
.label_contacts_form_phone {
    background-color: #121212;
}
.input_contacts_form_phone {
    font-size: 18px;
    background-color: #121212;
    width: 200px;
}
.div_contacts_form_phone_line {
    position: absolute;
    width: 200px;
    background-color: white;
    height: 1px;
    bottom: 0;
    right: 0;
}



.div_contacts_form_message {
    position: relative;
    background-color: #121212;
    display: flex;
    gap: 10px;
    width: fit-content;
}
.label_contacts_form_message {
    background-color: #121212;
}
.input_contacts_form_message {
    font-size: 18px;
    background-color: #121212;
    width: 450px;
}
.div_contacts_form_message_line {
    position: absolute;
    width: 450px;
    background-color: white;
    height: 1px;
    bottom: 0;
    right: 0;
}

.div_contacts_form_inputs .container .a_button_contacts_form {
    margin-top: 20px;
}